---
layout: default
---

<div class="home">
	<center>
		<div class="content">
			<h1 class="fakecategorie"><i class="fas fa-info-circle"></i> About</h1>
			<p class="subtitles">Welcome to SauerSauce</p>
			<p class="descriptions">A Place to learn and share <a target="_blank" href="http://sauerbraten.org">Sauerbraten</a>'s world.</p>
			<p>If you are looking for a place to learn or help, welcome to SauerSauce, a platform to keep tutorials related to Cube 2 Sauerbraten.</p>
			<p>This site is maintained by the community, you can find the author of the tutorial next to all posts, feel free to contact him to remove your doubts.</p>
		</div>
		<p>Latest contribution: <a href="{{site.posts.first.url}}">{{site.posts.first.title}}</a> by {{site.posts.first.author}} in {{site.posts.first.categories}} [{{ site.posts.first.date | date: '%B %d, %Y' }}]</p> 
			
		<div class="content">
			<a href="{{site.url}}/categories.html/#community"><h1 class="staticcategories"><i class="fas fa-users"></i> Community</h1></a>
			<ul style="list-style-type: none; margin: 0; padding: 0;">
			  {% for post in site.categories.community %}
				<li>
					{% include category.html %}
				</li>
			  {% endfor %}
			</ul>
			
			<p class="pseparator"></p>
			
			<a href="{{site.url}}/categories.html/#tutorials"><h1 id="tutorials" class="staticcategories"><i class="fa fa-book"></i> Tutorials</h1></a>
			<ul style="list-style-type: none; margin: 0; padding: 0;">
			  {% for post in site.categories.tutorials %}
				<li>
					{% include category.html %}
				</li>
			  {% endfor %}
			</ul>
		</div>
	</center>
</div>
