body {
	background-color: #302c28;
}
.fa {color: white;}
.titles {
	font-family: 'Alfa Slab One';
	text-align: center;
	color: white;
	font-size: 22px;
	margin-bottom: -25px;
	background-color: #ff5233;
	border-style: solid;
	border-width: 1px;
	border-color: #ef0f16;
}

.subtitles {
	font-size: 25px;
	font-family: 'Ubuntu';
	color: white;
	text-align: center;
	background-color: #201d1a;
}

.descriptions {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
}

p {
	font-family: 'Ubuntu', sans-serif;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	color: #d8d8d8;
}

a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	text-align: right;
	color: #7e91ff;

}

.contentimg {
    width: 150px;
	margin-left: 420px;
}

.contentvideo {
	/* padding-left: 25px; */
	border-style: solid;
	border-color: #201d1a;
	border-width: 1px;
	width: 80%;
}

.banner {
    text-align: center;

}

.content {
	font-size: 13px;
	background-color: #555555;
	/* margin-left: 200px;
	margin-right: 200px; */
	width: 80%;
	padding-bottom: 20px;
	border-style: solid;
	border-color: #201d1a;
	border-width: 2px;
}
