.pagetop {
}

.menubanner {
    position: fixed;
    z-index: 3;
    width: 100%;
	background-color: #ff5233;
	border-style: solid;
	border-width: 1px;
	border-color: #ef0f16;
}

.menubox {
	text-align: center;
	margin-bottom: 0;
}

.menubtns {
    display: inline;
    padding: 5px 26px;
    background-color: #555;
    color: #302c28;
    border-style: solid;
    border-width: 1px;
    font-size: 130%;
    position: relative;
    border-bottom-color: #302c2833;
    transition: background-color 0.5s, font-size 1s, left 1s, display 1s, top 1s, position 1s;
    border-color: #201d1a;
}

.menubtns:hover {
    background-color: #201d1a;
    color: white;
	border-style: none;
	transition: background-color 0.1s;
}

.bannertitle {
    font-family: 'Alfa Slab One';
    color: white;
    /* position: absolute; */
    z-index: 4;
    text-align: center;
	font-size: 200%;
}

.bannerlogo {
    width: 15%;
    margin-top: -3%;
}

.bannerbox {
    /* padding-left: 20%; */
    /* position: fixed; */
    z-index: 4;
}

body {
	background-color: #302c28;
}

hr {
	color: black;	
}

.contentbox {
    background-color: #424242;
    padding-left: 6%;
    padding-right: 5%;
    color: #8ee7f9;
    font-size: 12px;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #201d1a;
	border-radius: 30px;
}

.fixedcode {
	color: #8ee7f9;
}
.li {
    list-style-type: none;
    margin: 0;
    padding-left: 2%;
	font-family: 'Ubuntu';
	color: white;
}

.menuside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
	height: 30%;
	top: 10%;
    background-color: #302c283d;
    position: fixed;
    z-index: 3;
    border-style: solid;
    border-width: 1px;
    border-color: #201d1a;

    /* transform: translateX(-90%);
    transition: translateX 1s; */
}

.menuside:hover {
	transform: translateX(0%);
	transition: translateX 1s;
}

.menusideitems {
	
}
.pseparator {
	border-style: solid;
	border-width: 2px;
	border-color: #201d1a;
}

.staticcategories {
	transform: translateX(0%);
	cursor: pointer;
	font-size: 25px;
	color: #9c9c9c;
	transition: font-size 0.1s, color 0.2s;
}

.staticcategories:target {
	color: white;
	transition: color 2s ;
}

.staticcategories:not(:target) {
	color: grey;
	transition: color 2s ;
}
.fakecategorie {
	font-size: 25px;
	color: #9c9c9c;
    padding-left: 1%;
}

.staticcategories:hover {
	font-size: 28px;
	color: white;
}

.postinfo {
	text-align: center;
}

.menuitems:hover {
    background-color: #201d1a;
    color: white;
}

.posttag:target {
	background-color: #616161;
	border-radius: 20px;
	margin-right: 20%;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.fa {color: white;}

.subtitles {
	font-size: 25px;
	font-family: 'Ubuntu';
	color: #FB0;
	text-align: center;
	background-color: #201d1a;
}

.sidesubtitles {
	font-family: 'Ubuntu';
	color: #FB0;
	text-align: left;
	background-color: #201d1a;
}

.descriptions {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
}

p {
	font-family: 'Ubuntu', sans-serif;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	color: #d8d8d8;
}

a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #7e91ff;

}

.fakea {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #666;
	cursor: not-allowed;
}

.contentimg {
    width: 150px;
	margin-left: 420px;
}

.contentvideo {
	/* padding-left: 25px; */
	border-style: solid;
	border-color: #201d1a;
	border-width: 1px;
	/* width: 80%; */
}

.content {
	font-size: 13px;
	background-color: #4c4844;
	/* margin-left: 200px;
	margin-right: 200px; */
	width: 80%;
	padding-bottom: 20px;
	border-style: solid;
	border-color: #201d1a;
	border-width: 2px;
	position: relative;
}

.content:target {
	border-left-color: #858585;
	border-right-color: #858585;
	transition: border-color 1s;
}

.mobilemenuitems, .mobilemenutop {display: none}
/* min-width */
@media only screen and (max-width: 847px) {
	img {width: 100%}
	.subtitles {font-size: 15px;}
	.postinfo {display: none;}
	.staticcategories {
		font-size: 20px;
		color: white;
	}

	.menubox {
		position: fixed;
		z-index: 1;
		top: 0;
		font-size: 10px;
		display: grid;
		left: -40px;
		transition: font-size 1s, left 1s, display 1s, top 1s, position 1s;
	}
	.menuside {
		display: contents;
		transition: display 1s;
	}
}

@media only screen and (max-width: 461px) {
	.menubtns {
		background-color: #55555529;
		text-align: left;
		transition: background-color 1s, text-align 1s;
	}
}

@media only screen and (max-width: 400px) {
	.menubtns {
		display: contents;
		text-align: left;
		transition: display 1s, text-align 1s;
	}
}
