body {
	background-color: #302c28;
}

hr {
	color: black;	
}

.menutop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px;
    background-color: #f1f1f1;
 	position: absolute;
    overflow: auto;
	top: 220px;
	right: 300px;
	*/
	height: 100%;
}

.post_menutop {
    list-style-type: none;
    margin: 0;
    padding: 0;
	padding-top: 20px;
}

.menuitems {
	display: inline;
	background-color: #555;
    color: #000;
    padding: 2px 16px;
    text-decoration: none;
	border-style: solid;
	border-color: #201d1a;
	border-width: 2px;
	border-bottom: none;
	position: relative;
	z-index: 1;
}

.pseparator {
	border-style: solid;
	border-width: 2px;
	border-color: #201d1a;
}

.staticcategories {
	cursor: pointer;
	font-size: 25px;
	color: #9c9c9c;
	transition: font-size 0.1s, color 0.2s;
}

.fakecategorie {
	font-size: 25px;
	color: #9c9c9c;
}

.staticcategories:hover {
	font-size: 28px;
	color: white;
}

.postinfo {
	text-align: center;
}

.menuitems:hover {
    background-color: #201d1a;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.fa {color: white;}
.titles {
	font-family: 'Alfa Slab One';
	text-align: center;
	color: white;
	font-size: 22px;
	margin-bottom: -25px;
	background-color: #ff5233;
	border-style: solid;
	border-width: 1px;
	border-color: #ef0f16;
}

.subtitles {
	font-size: 25px;
	font-family: 'Ubuntu';
	color: #FB0;
	text-align: center;
	background-color: #201d1a;
}

.descriptions {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
}

p {
	font-family: 'Ubuntu', sans-serif;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	color: #d8d8d8;
}

a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	text-align: right;
	color: #7e91ff;

}

.contentimg {
    width: 150px;
	margin-left: 420px;
}

.contentvideo {
	/* padding-left: 25px; */
	border-style: solid;
	border-color: #201d1a;
	border-width: 1px;
	/* width: 80%; */
}

.banner {
    text-align: center;
}

.content {
	font-size: 13px;
	background-color: #555555;
	/* margin-left: 200px;
	margin-right: 200px; */
	width: 80%;
	padding-bottom: 20px;
	border-style: solid;
	border-color: #201d1a;
	border-width: 2px;
	position: relative;
	z-index: 2;
}


/* animations */
.logoshowdown {
	opacity: 0;
	transform: translateY(-120%);
	animation: Showdown 1s forwards 1s linear;	
}
.titles {
	opacity: 0;
	transform: translateX(-100%);
	animation: Showside 1s forwards 1s ease-out;	
}
.menutop {
	transform: translateY(120%);
	animation: Showdown 1s forwards 2s ease-in-out;	
}
@keyframes Showdown{
    100%{
        transform: translateY(5%);
		opacity: 3;
    }
}

@keyframes Showside{
	100%{
		transform: translateX(0%);
		opacity: 3;
	}
}
