<div align="center" class="pagetop">
<div class="bannerbox">
	<p class="bannertitle">SauerSauce</p>
	<img class="bannerlogo" src="{{site.base}}/content/images/sauerlogo.svg"/>
</div>

<ul class="menubox">
	<li class="menubtns">
		<a href="https://github.com/sauer-sauce/sauer-sauce.github.io/new/master/_posts"><i class="fas fa-plus"></i> Create</a>
	</li>

	<li class="menubtns">
		<a href="{{site.url}}"><i class="fa fa-home"></i> Home</a>
	</li>

	<li class="menubtns">
		<a href="{{site.url}}/categories.html"><i class="fa fa-bookmark"></i> Archive</a>
	</li>

	<li class="menubtns">
		<a target="_blank" href="https://discord.gg/bTUPj47"><i class="fab fa-discord"></i> Discord</a>
	</li>
</ul>

</div>
