<div align="center" class="pagetop">
<div class="bannerbox">
	<p class="bannertitle">SauerSauce</p>
	<img class="bannerlogo" src="{{site.base}}/content/images/sauerlogo.svg"/>
</div>

<ul class="menubox">
	<li class="menubtns">
		<a href="{{page.url}}"><i class="fas fa-sync-alt"></i> Reload</a>
	</li>

	<li class="menubtns">
		<a href="{{site.base}}#tutorials"><i class="fa fa-book"></i> Tutorials</a>
	</li>

	<li class="menubtns">
		<a href="{{site.base}}#community"><i class="fa fa-globe"></i> Community</a>
	</li>

	<li class="menubtns">
		<a target="_blank" href="https://discord.gg/bTUPj47"><i class="fab fa-discord"></i> Discord</a>
	</li>
</ul>

</div>
