<ul class="menuside">
	<li align="center">
		{% if page.layout != "default" %}
			<a href="{{site.url}}" title="home"><i class="fas fa-arrow-circle-left"></i></a>
		{% else %}
			<a class="fakea"><i class="fas fa-arrow-circle-left"></i></a>
		{% endif %}

		<a target="_blank" href="https://github.com/sauer-sauce/sauer-sauce.github.io/tree/contribution/_posts" title="new post"><i class="fas fa-plus-circle"></i></a>
		<a href="{{page.url}}" title="refresh"><i class="fas fa-sync-alt"></i></a>
	</li>
	<p style="font-size: 12px;">These posts need your support:</p>
	{% for post in site.posts %}
	{% assign postcontente = post.content | strip_newlines %}
	{% if postcontente == "" %}
	{% if post.url != page.url %}
	<li class="menusideitems">
		<a href="{{ post.url }}">
			<p style="font-size: 13px; border-style: solid; border-width: 1px; border-color: black;" class="sidesubtitles">
			<i title="missing content" class="fas fa-edit"></i>{{ post.title }}
			</p>
		</a>	

	</li>
	{% else %}
	<p style="font-size: 13px; border-style: solid; border-width: 1px;" class="sidesubtitles">
	<i title="missing content" class="fas fa-edit"></i>{{ post.title }}
	</p>
	{% endif %}
	{% endif %}
	{% endfor %}
</ul>