<!DOCTYPE html>
<html>

	<head>
		<title>SauerSauce</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" href="https://i.imgur.com/Ru6zZZf.png">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head> 

  	<body>
		<div class="banner">
			<p class="titles">SauerSauce</p>
			<img src="https://i.imgur.com/Ru6zZZf.png"/>
		</div>
		<div align="center">
			<ul class="menutop">
				<li class="menuitems"><a href="https://sauer-sauce.github.io/">Home</a></li>
				<li class="menuitems"><a href="community/tutorials">Tutorials</a></li>
				<li class="menuitems"><a href="community/questions">Questions</a></li>
				<li class="menuitems"><a target="_blank" href="https://discord.gg/bTUPj47">Discord</a></li>
			</ul>
		</div>
		<div class="page-content">
		  <div class="wrapper">
			{{ content }}
		  </div>
		</div>
		<center>
			<i class="fa fa-arrow-right">
				<a target="_blank" href="http://sauerbraten.org">www.sauerbraten.org</a>
			</i>
		</center>
		
  </body>

</html>
