<html>
	<head>
		<title>SauerSauce - Reading "{{ page.title }}"</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="icon" href="../../../../content/images/sauerlogo.png">
		<link rel="stylesheet" type="text/css" href="../../../../style.css">
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />		
	</head>
	<center>
		
		<div align="center">
			<ul class="post_menutop">
				<li class="menuitems"><a href="https://sauer-sauce.github.io/"><i class="fa fa-home"></i> Home</a></li>
				<li class="menuitems"><a href="community/tutorials"><i class="fa fa-book"></i> Tutorials</a></li>
				<li class="menuitems"><a href="community/questions"><i class="fa fa-question"></i> Questions</a></li>
				<li class="menuitems"><a target="_blank" href="https://discord.gg/bTUPj47"><i class="fab fa-discord"></i> Discord</a></li>
			</ul>
		</div>

		<div class="post">
			<header class="content">
				<h1 class="subtitles">{{ page.title }}</h1>
				<p class="descriptions">
					{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • 
					<img style="width: 2%; heigth: 2%" src="https://api.adorable.io/avatars/5/{{ page.author }}.png"/>
					{{ page.author }} ({{ page.categories }}) {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
				<article style="text-align: justify; font-size: 15px;">
					{{ content }}
				</article>
			</header>
		</div>
		
		<br>
		
		<div class="content">
			<h1 class="fakecategorie">See also</h1>
			<ul style="list-style-type: none; margin: 0; padding: 0;">
			  {% for post in site.posts %}
				{% if post.url != page.url %}
				<li>
					<a href="{{ post.url }}">
						<p class="subtitles">{{ post.title }} <i class="fas fa-angle-double-right"></i></p>
					</a>
					<p class="postinfo"> {{ post.date | date: '%B %d, %Y' }} </p>
					<p class="descriptions">{{ post.excerpt }}</p>
				</li>
				{% else %}
				{% assign found = true %} 
			  	{% endif %}
			  {% endfor %}
			</ul>		
		</div>
		
	</center>
	
	{% include footer.html %}
	
</html>
