<html>
	<head>
		<title>SauerSauce - Reading "{{ page.title }}"</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="icon" href="../../../../content/images/sauerlogo.png">
		<link rel="stylesheet" type="text/css" href="../../../../style.css">
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	</head>
	{% include menu.html %}
	
	<ul class="menuside">
		<li>
			<a href="{{site.url}}" title="home"><i class="fas fa-arrow-circle-left"></i></a>
			<a href="#" title="new post"><i class="fas fa-pencil-alt"></i></a>
			<a href="{{page.url}}" title="refresh"><i class="fas fa-sync-alt"></i></a>
		</li>
		{% for post in site.posts %}
		{% if post.url != page.url %}
		<li class="menusideitems">
			<a href="{{ post.url }}">
				<p style="font-size: 13px;" class="sidesubtitles"><i class="fas fa-angle-double-left"></i> {{ post.title }}</p>
			</a>	
			
		</li>
		{% else %}
		{% assign found = true %} 
		{% endif %}
		{% endfor %}
	</ul>

	<center>

		<div class="post">
			<header class="content">
				<h1 class="subtitles">{{ page.title }}</h1>
				<p class="descriptions">
					{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • 
					<img style="width: 2%; heigth: 2%" src="https://api.adorable.io/avatars/5/{{ page.author }}.png"/>
					{{ page.author }} ({{ page.categories }}) {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
				<article style="text-align: justify; font-size: 15px;">
					{{ content }}
				</article>
			</header>
		</div>
		
		<br>
		
		<div class="content">
			<h1 class="fakecategorie">See also</h1>
			<ul style="list-style-type: none; margin: 0; padding: 0;">
			  {% for post in site.posts %}
				{% if post.url != page.url %}
				<li>
					<a href="{{ post.url }}">
						<p class="subtitles">{{ post.title }} <i class="fas fa-angle-double-right"></i></p>
					</a>
					<p class="postinfo"> {{ post.date | date: '%B %d, %Y' }} </p>
					<p class="descriptions">{{ post.excerpt }}</p>
				</li>
				{% else %}
				{% assign found = true %} 
			  	{% endif %}
			  {% endfor %}
			</ul>		
		</div>
	</center>
	
	{% include footer.html %}
	
</html>
